#mainContainer {
    min-height: calc(98vh - 2.5rem - 75px);
}
#mainContainer > main {
    padding: 1rem 0;
}
.container {
    flex-flow: wrap;
}
/*.chessMove {
    max-width: 45%;
}*/
#mainContainer > main > form > div.frc-captcha {
    position: relative;
}
#mainContainer > main > form > div.frc-captcha > div > div {
    overflow-x: inherit;
}
* {
    user-select: none;
}